body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: neue-haas-grotesk-display;
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 16px;
    color: black;
    background-color: transparent;
    cursor: auto;
}

html::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: blue;
    color: white;
}

body.green-highlight ::selection {
    background-color: rgb(105, 255, 0);
    color: black;
}

body.orange-highlight ::selection {
    background-color: rgb(255, 105, 0);
    color: black;
}

body.red-highlight ::selection {
    background-color: rgb(255, 0, 105);
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 1000;
    height: 48px;
    background-color: white;
    user-select: none;
}

.home {
    position: relative;
    display: inline-block;
    height: 48px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    z-index: 100;
}

.dropdown-menu a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    color: black;
    font-size: 16px;
}

.home svg:hover .name {
    fill: blue;
    cursor: pointer;
}

.home:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover,
.menu:hover,
#eng:hover,
#kor:hover,
#jpn:hover,
#resumeBtn:hover,
#green-project:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.project-column:nth-child(1) .project:hover .project-square,
.project-column:nth-child(2) .project:hover .project-square,
.project-column:nth-child(3) .project:hover .project-square {
    background-color: blue;
    color: white;
    border: 1px white solid;
}

#green-project:hover {
    background-color: rgb(105, 255, 0);
    color: black;
}

#orange-project:hover {
    background-color: rgb(255, 105, 0);
    color: black;
}

#pink-project:hover {
    background-color: rgb(255, 0, 105);
    color: black;
}

.submenu-container {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: -1px;
    left: 100%;
    background-color: white;
    border: 1px solid black;
    width: 150px;
    z-index: 101;
}

.submenu-container:hover .submenu {
    display: block;
}

.submenu a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.submenu a:hover {
    background-color: blue;
    color: white;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

.top-menu a {
    text-decoration: none;
    color: black;
}

.menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.extra-space {
    height: 48px;
}

.hint {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    z-index: 1000;
    user-select: none;
    display: none;
}

.warning {
    position: absolute;
    right: calc(50% - min(540px, 50vw) + 8px);
    bottom: calc(100vh - min(825px, 100%));
    opacity: 1;
    text-align: right;
    padding-bottom: 53px;
}

.main {
    overflow: hidden;
    user-select: none;
}

.rotation-container {
    position: relative;
    width: 100vw;
    max-width: 1080px;
    height: 100vh;
    max-height: 720px;
    margin: 0 auto;
}

.case-3 {
    position: absolute;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    offset-path: path("M 100,-99 L 350, 981");
    offset-rotate: 0deg;
    offset-distance: 0%;
}

.text-box {
    position: absolute;
    left: 200px;
    offset-rotate: 0deg;
    opacity: 0;
    pointer-events: none;
    width: 350px;
}

.text-box b {
    font-size: 2em;
}

.case-3:hover .text-box {
    opacity: 1;
}

:root {
    --animation-duration: 18s;
}

@keyframes animation {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

#r1 {
    animation: animation var(--animation-duration) linear infinite;
}

#r2 {
    animation: animation var(--animation-duration) linear infinite;
    animation-delay: -3s;
}

#r3 {
    animation: animation var(--animation-duration) linear infinite;
    animation-delay: -6s;
}

#r4 {
    animation: animation var(--animation-duration) linear infinite;
    animation-delay: -9s;
}

#r5 {
    animation: animation var(--animation-duration) linear infinite;
    animation-delay: -12s;
}

#r6 {
    animation: animation var(--animation-duration) linear infinite;
    animation-delay: -15s;
}

.hover {
    width: 160px;
}

.paused #r1,
.paused #r2,
.paused #r3,
.paused #r4,
.paused #r5,
.paused #r6 {
    animation-play-state: paused;
}






.heading {
    position: relative;
    text-align: left;
    width: 100vw;
    max-width: 1080px;
    height: 48px;
    margin: auto;
    font-size: 32px;
    z-index: 10;
    border-bottom: solid 1px black;
    transform: translateY(-48px);
}

.full-list {
    width: 100vw;
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    flex-direction: flex-start;
    justify-content: space-around;
    user-select: none;
}

.project-column {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: fit-content;
}

.project {
    text-decoration: none;
    color: black;
    display: flex;
    height: 24px;
    gap: 16px;
    align-items: center;
    width: fit-content;
    padding-left: 4px;
    padding-right: 4px;
}

.project-square {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border: 1px black solid;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-text {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: center;
}


.project-column:nth-child(1) .project-square {
    background-color: rgb(105, 255, 0);
}

.project-column:nth-child(2) .project-square {
    background-color: rgb(255, 105, 0);
}

.project-column:nth-child(3) .project-square {
    background-color: rgb(255, 0, 105);
}

.about-me {
    width: 100vw;
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    flex-direction: flex-start;
    align-items: center;
}

.bio-image img {
    margin-left: 8px;
    width: 254px;
    user-select: none;
}

.content-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.bio-content {
    width: 100%;
    text-align: left;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    user-select: none;
}

.button-style {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 64px;
    height: 24px;
    cursor: pointer;
}




.front-page,
.front-page-character {
    width: 100vw;
    max-width: 1080px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 15;
}

.green {
    background-color: rgb(105, 255, 0);
}

.orange {
    background-color: rgb(255, 105, 0);
}

.red {
    background-color: rgb(255, 0, 105);
}

.front-page img {
    width: 254px;
    height: 254px;
    user-select: none;
}

.front-page-character img {
    width: 150px;
    user-select: none;
}

.title-page {
    position: sticky;
    z-index: 15;
    top: 48px;
    width: 100vw;
    max-width: 1080px;
    height: 48px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: right;
    align-items: center;
    user-select: none;
}

.title-page b {
    font-size: 3em;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(8px);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1080px;
    margin: 0 auto;
}

.chapter {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    max-width: 1080px;
    height: 48px;
    box-sizing: border-box;
}

.chapter p {
    bottom: 0px;
    right: 0px;
    margin: 0;
    padding-left: 8px;
    color: black;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(13px);
}

.content-page,
.content-page-2 {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.content-page {
    flex-direction: row;
    align-items: flex-start;
}

.content-page-2 {
    flex-direction: column;
    align-items: center;
}

.the-120-dcs {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.image-section,
.image-section-2,
.image-section-3,
.image-section-4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1080px;
    user-select: none;
}

.image-section {
    justify-content: flex-start;
}

.image-section-2 {
    justify-content: center;
}

.image-section-3 {
    justify-content: center;
    max-width: 810px;
}

.image-section-4 {
    justify-content: left;
    min-width: 810px;
}

.image-section img,
.image-section video,
.image-section-2 img,
.image-section-2 video,
.image-section-3 img,
.image-section-3 video,
.image-section-4 img,
.image-section-4 video {
    width: 254px;
    height: 254px;
    margin: 8px;
    object-fit: cover;
}

.image-section .landscape,
.image-section-2 .landscape,
.image-section-3 .landscape,
.image-section-4 .landscape {
    width: 524px;
    height: 254px;
}

.text-box-3 {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    max-width: 540px;
    min-width: 270px;
}

.text-box-3 p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    text-align: left;
}

@media (max-width: 1080px) {
    .full-list {
        flex-direction: column;
        align-items: left;
        gap: 16px;
        width: fit-content;
    }

    .about-me {
        flex-direction: column;
    }

    .content-page {
        flex-direction: column;
        align-items: center;
    }

    .image-section {
        width: 540px;
        justify-content: center;
    }

    .image-section-2,
    .image-section-4 {
        width: 810px;
        justify-content: center;
    }
}

@media (max-width: 810px) {

    .image-section-2,
    .image-section-3,
    .image-section-4 {
        width: 540px;
        justify-content: center;
    }

    .content-buttons-container {
        flex-direction: column;
    }

    .buttons-column {
        flex-direction: row;
    }

}

@media (max-width: 570px) {

    .top-menu {
        display: none;
    }
}

@media (max-width: 540px) {

    .image-section,
    .image-section-2,
    .image-section-3 {
        width: 270px;
    }

    .case-3:hover .text-box {
        opacity: 0;
    }
}

@media (max-width: 270px) {
    .buttons-column {
        flex-direction: column;
    }
}

footer {
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    height: 48px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 1000;
    user-select: none;
    position: fixed;
}

#clock,
#visit-count {
    display: inline-block;
}



.draggable:active {
    cursor: grabbing;
}

.draggable {
    position: absolute;
    user-select: none;
}

.goguryeo {
    right: 60%;
}

.silla {
    left: 60%;
}

#reset-btn {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 64px;
    height: 24px;
    cursor: pointer;
    position: static;
    left: 50%;
    bottom: 48px;
    user-select: none;
}

#reset-btn:hover {
    background-color: blue;
    color: white;
}